<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>萝卜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>莲藕800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>dog</string>
		<key>title</key>
		<string>白菜800g</string>
		<key>get</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
