<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。好易家澳洲进口牛里脊500g里脊菲力牛肉，新鲜牛肉货品质量不错，完全不像近日报道的僵尸肉。</string>
		<key>price</key>
		<real>23.5</real>
		<key>buyCount</key>
		<integer>111</integer>
		<key>reviewCount</key>
		<integer>98</integer>
	</dict>
</array>
</plist>
