<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥9月1号开始的团购 (即将开始)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月6号开始的团购 (抢购中) 100天</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-06 17:16:55</string>
		<key>duration</key>
		<string>100</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月5号开始的团购 (结束)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-05 12:00:00</string>
		<key>duration</key>
		<string>1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥我卖完啦</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>0</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥9月1号开始的团购 (即将开始)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥9月1号开始的团购 (即将开始)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥9月1号开始的团购 (即将开始)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-09-01 12:00:00</string>
		<key>duration</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月6号开始的团购 (抢购中) 100天</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-06 17:16:55</string>
		<key>duration</key>
		<string>100</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月6号开始的团购 (抢购中) 100天</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-06 17:16:55</string>
		<key>duration</key>
		<string>100</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月6号开始的团购 (抢购中) 100天</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-06 17:16:55</string>
		<key>duration</key>
		<string>100</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月5号开始的团购 (结束)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-05 12:00:00</string>
		<key>duration</key>
		<string>1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月5号开始的团购 (结束)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-05 12:00:00</string>
		<key>duration</key>
		<string>1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img4.duitang.com/uploads/blog/201405/30/20140530183153_zFQ3a.jpeg</string>
		<key>title</key>
		<string>我是团购🔥8月5号开始的团购 (结束)</string>
		<key>originalPrice</key>
		<string>50.0</string>
		<key>currentPrice</key>
		<string>29.9</string>
		<key>leftCount</key>
		<string>21</string>
		<key>startTime</key>
		<string>2015-08-05 12:00:00</string>
		<key>duration</key>
		<string>1</string>
	</dict>
</array>
</plist>
